### < 모델 생성 후 고려해볼 것들>
1. 모델을 여러가지 사용해보기 ex) 앙상블, XGBoost, Light GBM, LSTM
2. 이상치를 중앙값으로 할지, 최대치로 할지
3. 시계열 데이터를 어떻게 처리할지 ex) 4분기, 2분기 등
4. 판매량, 판매 가격의 데이터 쏠림을 전처리 할지 말지
-> 팀당 하루에 5번 제출 가능

### 모델은 어떤걸 쓸지?
1. 앙상블? <br/>
2. XGBoost <br/>
3. Light GBM

In [1]:
import numpy as np
import pandas as pd
import os
from os.path import join

### 1. 데이터 경로 지정하기, 불러오기

In [2]:
data_dir = os.getenv('HOME')+'/kaggle/Predict_Future_Sales/data'

items_path = os.path.join(data_dir, 'items.csv')
item_category_path = os.path.join(data_dir, 'item_categories.csv')
shops_path = os.path.join(data_dir, 'shops.csv')
train_path = os.path.join(data_dir, 'sales_train.csv')
test_path = os.path.join(data_dir, 'test.csv')

In [3]:
items = pd.read_csv(items_path)
categories = pd.read_csv(item_category_path)
shops = pd.read_csv(shops_path)
train = pd.read_csv(train_path)
test = pd.read_csv(test_path)

ID - an Id that represents a (Shop, Item) tuple within the test set <br/>
shop_id - unique identifier of a shop <br/>
item_id - unique identifier of a product <br/>
item_category_id - unique identifier of item category <br/>
item_cnt_day - number of products sold. You are predicting a monthly amount of this measure <br/>
item_price - current price of an item <br/>
date - date in format dd/mm/yyyy <br/>
date_block_num - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33 <br/>
item_name - name of item <br/>
shop_name - name of shop <br/>
item_category_name - name of item category <br/>

### 2. 데이터 분석하기

In [5]:
data = pd.read_csv(train_path)
sub = pd.read_csv(test_path)
print('train data dim : {}'.format(data.shape))
print('test data dim : {}'.format(sub.shape))

train data dim : (2935849, 6)
test data dim : (214200, 3)

학습데이터는 100만개, 테스트 데이터는 21만개로 이루어져 있음. 
test 데이터의 컬럼이 3개인것을 볼 수 있는데, 제외된 3개의 컬럼 중 하나는 우리가 마주어야 할 집의 가격 `price`일 것임

In [6]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [7]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

### 3.  Feature Engineering

#### - 결측치 확인

In [9]:
# 결측치 확인
for c in data.columns:
    print('{} : {}'.format(c, len(data.loc[pd.isnull(data[c]), c].values)))

date : 0
date_block_num : 0
shop_id : 0
item_id : 0
item_price : 0
item_cnt_day : 0

#### - 중복 제거

In [10]:
# 중복 제거
sum(train.duplicated()), sum(test.duplicated())

(6, 0)

In [11]:
train[train.duplicated() == True]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
76962,05.01.2013,0,54,20130,149.0,1.0
1435367,23.02.2014,13,50,3423,999.0,1.0
1496766,23.03.2014,14,21,3423,999.0,1.0
1671873,01.05.2014,16,50,3423,999.0,1.0
1866340,12.07.2014,18,25,3423,999.0,1.0
2198566,31.12.2014,23,42,21619,499.0,1.0

In [12]:
train.drop_duplicates(inplace=True)

In [13]:
#중복 재확인
sum(train.duplicated())

0

#### - 아이템 대분류 만들기

In [14]:
categories_data_path = join(data_dir, 'item_categories.csv')
categories = pd.read_csv(categories_data_path)
pd.DataFrame(categories.item_category_name.values.reshape(-1, 4))

,0,1,2,3
0,PC - Гарнитуры/Наушники,Аксессуары - PS2,Аксессуары - PS3,Аксессуары - PS4
1,Аксессуары - PSP,Аксессуары - PSVita,Аксессуары - XBOX 360,Аксессуары - XBOX ONE
2,Билеты (Цифра),Доставка товара,Игровые консоли - PS2,Игровые консоли - PS3
3,Игровые консоли - PS4,Игровые консоли - PSP,Игровые консоли - PSVita,Игровые консоли - XBOX 360
4,Игровые консоли - XBOX ONE,Игровые консоли - Прочие,Игры - PS2,Игры - PS3
5,Игры - PS4,Игры - PSP,Игры - PSVita,Игры - XBOX 360
6,Игры - XBOX ONE,Игры - Аксессуары для игр,Игры Android - Цифра,Игры MAC - Цифра
7,Игры PC - Дополнительные издания,Игры PC - Коллекционные издания,Игры PC - Стандартные издания,Игры PC - Цифра
8,"Карты оплаты (Кино, Музыка, Игры)",Карты оплаты - Live!,Карты оплаты - Live! (Цифра),Карты оплаты - PSN
9,Карты оплаты - Windows (Цифра),Кино - Blu-Ray,Кино - Blu-Ray 3D,Кино - Blu-Ray 4K
10,Кино - DVD,Кино - Коллекционное,"Книги - Артбуки, энциклопедии",Книги - Аудиокниги
11,Книги - Аудиокниги (Цифра),Книги - Аудиокниги 1С,Книги - Бизнес литература,"Книги - Комиксы, манга"
12,Книги - Компьютерная литература,Книги - Методические материалы 1С,Книги - Открытки,Книги - Познавательная литература
13,Книги - Путеводители,Книги - Художественная литература,Книги - Цифра,Музыка - CD локального производства
14,Музыка - CD фирменного производства,Музыка - MP3,Музыка - Винил,Музыка - Музыкальное видео
15,Музыка - Подарочные издания,Подарки - Атрибутика,"Подарки - Гаджеты, роботы, спорт",Подарки - Мягкие игрушки
16,Подарки - Настольные игры,Подарки - Настольные игры (компактные),"Подарки - Открытки, наклейки",Подарки - Развитие
17,"Подарки - Сертификаты, услуги",Подарки - Сувениры,Подарки - Сувениры (в навеску),"Подарки - Сумки, Альбомы, Коврики д/мыши"
18,Подарки - Фигурки,Программы - 1С:Предприятие 8,Программы - MAC (Цифра),Программы - Для дома и офиса
19,Программы - Для дома и офиса (Цифра),Программы - Обучающие,Программы - Обучающие (Цифра),Служебные
20,Служебные - Билеты,Чистые носители (шпиль),Чистые носители (штучные),Элементы питания

#### 지역별 가게 대분류 만들기

In [15]:
shop_data_path = join(data_dir, 'shops.csv')
shops = pd.read_csv(shop_data_path)
pd.DataFrame(shops.shop_name.values.reshape(-1, 4))

,0,1,2,3
0,"!Якутск Орджоникидзе, 56 фран","!Якутск ТЦ ""Центральный"" фран","Адыгея ТЦ ""Мега""","Балашиха ТРК ""Октябрь-Киномир"""
1,"Волжский ТЦ ""Волга Молл""","Вологда ТРЦ ""Мармелад""","Воронеж (Плехановская, 13)","Воронеж ТРЦ ""Максимир"""
2,"Воронеж ТРЦ Сити-Парк ""Град""",Выездная Торговля,Жуковский ул. Чкалова 39м?,Жуковский ул. Чкалова 39м²
3,Интернет-магазин ЧС,"Казань ТЦ ""Бехетле""","Казань ТЦ ""ПаркХаус"" II","Калуга ТРЦ ""XXI век"""
4,"Коломна ТЦ ""Рио""","Красноярск ТЦ ""Взлетка Плаза""","Красноярск ТЦ ""Июнь""","Курск ТЦ ""Пушкинский"""
5,"Москва ""Распродажа""","Москва МТРЦ ""Афи Молл""",Москва Магазин С21,"Москва ТК ""Буденовский"" (пав.А2)"
6,"Москва ТК ""Буденовский"" (пав.К7)","Москва ТРК ""Атриум""","Москва ТЦ ""Ареал"" (Беляево)","Москва ТЦ ""МЕГА Белая Дача II"""
7,"Москва ТЦ ""МЕГА Теплый Стан"" II","Москва ТЦ ""Новый век"" (Новокосино)","Москва ТЦ ""Перловский""","Москва ТЦ ""Семеновский"""
8,"Москва ТЦ ""Серебряный Дом""","Мытищи ТРК ""XL-3""","Н.Новгород ТРЦ ""РИО""","Н.Новгород ТРЦ ""Фантастика"""
9,"Новосибирск ТРЦ ""Галерея Новосибирск""","Новосибирск ТЦ ""Мега""","Омск ТЦ ""Мега""","РостовНаДону ТРК ""Мегацентр Горизонт"""
10,"РостовНаДону ТРК ""Мегацентр Горизонт"" Островной","РостовНаДону ТЦ ""Мега""","СПб ТК ""Невский Центр""","СПб ТК ""Сенная"""
11,"Самара ТЦ ""Мелодия""","Самара ТЦ ""ПаркХаус""","Сергиев Посад ТЦ ""7Я""","Сургут ТРЦ ""Сити Молл"""
12,"Томск ТРЦ ""Изумрудный Город""","Тюмень ТРЦ ""Кристалл""","Тюмень ТЦ ""Гудвин""","Тюмень ТЦ ""Зеленый Берег"""
13,"Уфа ТК ""Центральный""","Уфа ТЦ ""Семья"" 2","Химки ТЦ ""Мега""",Цифровой склад 1С-Онлайн
14,"Чехов ТРЦ ""Карнавал""","Якутск Орджоникидзе, 56","Якутск ТЦ ""Центральный""","Ярославль ТЦ ""Альтаир"""

In [16]:
shops['city'] = shops['shop_name'].str.split(' ').map(lambda x: x[0])
shops.loc[shops.city == '!Якутск', 'city'] = 'Якутск'
shops.head(10)

                        shop_name  shop_id      city
0   !Якутск Орджоникидзе, 56 фран        0    Якутск
1   !Якутск ТЦ "Центральный" фран        1    Якутск
2                Адыгея ТЦ "Мега"        2    Адыгея
3  Балашиха ТРК "Октябрь-Киномир"        3  Балашиха
4        Волжский ТЦ "Волга Молл"        4  Волжский
5          Вологда ТРЦ "Мармелад"        5   Вологда
6      Воронеж (Плехановская, 13)        6   Воронеж
7          Воронеж ТРЦ "Максимир"        7   Воронеж
8    Воронеж ТРЦ Сити-Парк "Град"        8   Воронеж
9               Выездная Торговля        9  Выездная

In [17]:
# 문자 데이터를 모두 수치 데이터로 Encoding
shops.city.value_counts()

Москва              13
Якутск               4
Воронеж              3
Тюмень               3
РостовНаДону         3
Новосибирск          2
Уфа                  2
Жуковский            2
Казань               2
Самара               2
СПб                  2
Красноярск           2
Н.Новгород           2
Мытищи               1
Калуга               1
Сергиев              1
Балашиха             1
Адыгея               1
Сургут               1
Коломна              1
Чехов                1
Выездная             1
Волжский             1
Ярославль            1
Цифровой             1
Интернет-магазин     1
Томск                1
Химки                1
Омск                 1
Курск                1
Вологда              1
Name: city, dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
city_encoder = LabelEncoder()
shops['city_code'] = city_encoder.fit_transform(shops['city'])

In [19]:
shops.head(10)

                        shop_name  shop_id      city  city_code
0   !Якутск Орджоникидзе, 56 фран        0    Якутск         29
1   !Якутск ТЦ "Центральный" фран        1    Якутск         29
2                Адыгея ТЦ "Мега"        2    Адыгея          0
3  Балашиха ТРК "Октябрь-Киномир"        3  Балашиха          1
4        Волжский ТЦ "Волга Молл"        4  Волжский          2
5          Вологда ТРЦ "Мармелад"        5   Вологда          3
6      Воронеж (Плехановская, 13)        6   Воронеж          4
7          Воронеж ТРЦ "Максимир"        7   Воронеж          4
8    Воронеж ТРЦ Сити-Парк "Град"        8   Воронеж          4
9               Выездная Торговля        9  Выездная          5

In [ ]:
# outlier 제거 -> 행전체 제거? 값 대체?(중앙값, 최대값) -> 진오님

In [ ]:
# 필요 없는 컬럼 제거, 나중에 예측 결과를 제출할 때를 대비해 sub_id 변수에 id 컬럼을 저장 후 지우기